<!-- footer -->
<div class="footer " style="margin-bottom:0; ">
    <div class="fmain " id="leftrightspace">
        <div class="container" style="background-color: #ffa500;">
            <div class="row">
                <!-- left -->
                <div class="col-lg-4 col-md-4 col-sm-12 mb-2 mt-3">

                    <h5 class="mt-3">Contact</h5>
                    <h6>Kerala. | Event Manager</h6>
                    <P>11350 McCormick Rd, EP III, Thekathil 200,</P>
                    <P>Palarivattom, MD 21031</P>
                    <h6> Additional Office Locations</h6>
                    <h6>UAE</h6>
                    <p>Germany,France,Russia</p>
                </div>
                <!-- center -->
                <div class="col-lg-5 col-md-4 col-sm-12 mb-2 mt-3">
                    <h5 class="mt-3">About</h5>
                    <p>Event Manager is a global leader in connecting people and events.
                    </p>
                    <p>Every day, event manager aims to make every workplace happier
                        and more productive by transforming the way employers and candidates find the right fit.</p>
                    <p>At Executive Events, it's a conglomeration of passion and creativity. Equipped with latest event
                        technology and novel ideas, we produce dynamic and zestful events. Our highly efficient team
                        weaves your idea of a noteworthy MICE, with medical conferences being our forte. We also display
                        an engaging presence in crafting imperial and unique wedding; a treat to all your senses.
                    </p>
                </div>
                <!-- right -->
                <div class="col-lg-3 col-md-4 col-sm-12 mb-2 mt-3">
                    <h5 class="mt-3">Stay Connected</h5>
                    <div class="mt-4" style="display: flex;">
                        <i class="fa-brands fa-facebook"></i>
                        <a style="text-decoration:none ;color: white;" href=""><h6 class="ms-3">Facebook</h6></a>
                    </div>
                    <div style="display: flex;">
                        <i class="fa-brands fa-twitter"></i>
                        <a style="text-decoration:none ;color: white;" href=""><h6 class="ms-3">Twitter</h6></a>
                    </div>
                    <div style="display: flex;">
                        <i class="fa-solid fa-rss"></i>
                        <a style="text-decoration:none ;color: white;" href=""><h6 class="ms-3">RSS</h6></a>
                    </div>
                    <div style="display: flex;">
                        <i class="fa-brands fa-google-plus-g"></i>
                        <a style="text-decoration:none ;color: white;" href=""><h6 class="ms-3">Google +</h6></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>