{% extends 'eventWebsite/base.html' %}
{% block content %}
{% load static %}
<!-- Adding posts template -->
<div class="container mb-5">
    <div class="row mt-5">
        <div class="col-2">
            <a class="btn btn-primary" href="{% url 'add_post' %}" role="button">Add New Post</a>
            <form method="post">
                {% csrf_token %}
            <button class="btn btn-warning" name="post_list_btn" value="generate_pdf">
                Generate PDFs</button>
                </form>
        </div>
        <div class="col-8">
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row">

        <div class="col-12 mb-5 mt-5">
            <h3>Your List of Events :</h3>
            {%if posts %}
            <table class="table mt-5">
                <tr>
                    <th>EVENT TITLE</th>
                    <th>EVENT DATE</th>
                    <th>EVENT VENUE</th>
                    <th>DETAILS</th>
                    <th>POSTED DATE</th>
                    <th width="15%">EVENT LOGO</th>
                </tr>
                {%for post in posts%}
                <tr>
                    <td>{{post.event_title}}</td>
                    <td>{{post.event_date}}</td>
                    <td>{{post.location}}</td>
                    <td>{{post.content}}</td>
                    <td>{{post.date}}</td>

                    <td>
                        {%if post.pic%}
                        <img src={{post.pic.url}} class="card-img-top" alt="..." width="150" height="150">
                        {% endif %}
                    </td>
                    <!-- 3 buttons for specific functions -->

                    <td>
                        <a href="{% url 'post_update' post.id %}" class="btn btn-warning ">Edit</a><br>
                        <a href="{% url 'post_detail' post.id %}" class="btn btn-info mt-3">Detail</a><br>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger mt-3">Delete</a><br>
                    </td>
                </tr>
                {%endfor%}
            </table>
            {%else%}
            <h2 class="text-danger">No Upcoming Events Posted</h2>
            {%endif%}

        </div>

    </div>
</div>
{%endblock%}