{% extends 'eventWebsite/base.html' %}
{% block content %}
{%load static%}
<!-- Post detail are shown as an image top card -->

<div class="container">
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card mb-5">
                <img src={{post.pic.url}} class="card-img-top" alt="...">
                <div class="card-body">
                    <h1 class="card-title">{{post.event_title}}</h1>
                    <h5 class="card-title">Event Date :</h5>
                    <p class="card-title">{{post.event_date}}</p>
                    <h5 class="card-title">Event Venue :</h5>
                    <p class="card-title">{{post.location}}</p>
                    <p style="color:blue">Event :</p>
                    <p class="card-text">{{post.content}}</p>
                    <p class="card-text"><small class="text-muted">Posted date : {{post.date}}</small></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <button class="btn btn-danger" onclick="history.back()"> Back
                <i class="fa-solid fa-angle-right"> </i></button>
            <button class="btn btn-warning">
                {% if post.download_file %}
                <a href="{% url 'download_post' post.id %}"> download pdf</a>
                {%endif%}
                <i class="fa-solid fa-angle-right"> </i></button>
        </div>
    </div>
</div>
{%endblock%}
