{% extends 'eventWebsite/base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row pt-5">
        <div class="col-7">

            <h2 style="padding" class="pt-5">Our Services</h2>
            <h4>Wedding Planning Management</h4>
            <p class="pt-3">
                We are Wedding Event planner; one of the top wedding planner in Kochi and we are on mission of making
                dream weddings real for couples across Globe. We, at Executive Events, specialize in organizing
                fairytale wedding to be cherished forever.
            </p>
            <h4>Corporate Event Management</h4>
            <p class="pt-3">
                We provide corporate event management services for large number of corporate associations. We work on
                improving the quality and performance of the company; we are best conference organizer in Kerala.
                Strategic planning, creativity, knowledge, skill, commitment and a talented pool of professionals are
                the underlying strengths of our company.
            </p>
            <h3 class="pt-5">
                Entertainment & Show Management
            </h3>
            <p class="pt-3">
                Entertainment is for amusement. After a day of tedious work, people would love to attend shows that
                would relax their mind. Celebrity Event Management and Artist Management Service is our forte. As we are
                in era of celebration wherein; entertainment and show management has gained popularity in the recent
                years.
            </p>
            <h3 class="pt-5">
                Conference Management
            </h3>
            <p class="pt-3">
                We specialize in turnkey conference management services for a large number of corporate and medical
                associations. We are best Conference Organizer in Kochi whose wings are spread across globe and well
                known for it's smooth accurate execution. We coordinate various conferences to be held at different
                locations. </p>
      
        </div>
        <div class="col-5 pt-5">
            <img src="{% static 'about.png' %}" class="w-100 rounded mx-auto d-block" alt="..."
                 height="500">

        </div>
    </div>
</div>

{% endblock %}